@font-face {
    font-family: "Green-Hostel";
    src: url("../fonts/Green\ Hostel.ttf") format("truetype");
}

@font-face {
    font-family: "Louis-George";
    src: url("../fonts/Louis\ George\ Cafe.ttf") format("truetype");
}

*{
    box-sizing: border-box;
}

html{
    /*background-image: url(../assets/background.jpg);*/
    background-color: #b3bd97;
}

.title{
    padding: 40px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    font-family: Green-Hostel;
    font-size: 80px;
}

.menu{
    display: flex;
    justify-content: space-between;
    background-color: #4f573c  ;
    color: white;
    font-family: Louis-George;
    font-size: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

aside h1{
    font-family: Louis-George;
    font-weight: bold;
}

h2{
    font-family: Louis-George;
}

p{
    font-family: Louis-George;
}

a{
    padding: 25px 50px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

main{
    display: flex;
}

main article{
    background-color: #cdbca8 ;
    margin-top: 0px;
    flex: 1 75%;
    max-width: 75%;
    margin-left: 20px;
    padding: 20px;
}

aside {
    text-align: center;
    flex: 1 25%;
    max-width: 25%;
    background-color: #af9f9a ;
    margin-right: 20px;
  }

aside img{
    width: 85%;
}

iframe{
    text-align: center;
}

.video{
    text-align: center;
    margin-top: 25px;
}

.image{
    text-align: center;
    margin-top: 40px;
}

.table{
    text-align: center;
    margin-top: 40px;
}

table {
    width: 100%;
    border: 2px solid #000;
    font-family: Louis-George;
    border-collapse: collapse;
     }
th, td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-spacing: 0;
    padding:10px 5px;
     }

th{
    background-color: black;
    color: white;
}

td{
    background-color: white;
}

footer{
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    background-color:  #6484ac ;
    padding: 10px 20px;
}

.index section p{
    font-size: 20px;
}

.left img{
    float: left;
}

.right img{
    float: right;
}

.right{
    text-align: right;
}

.left h2{
    clear: both;
}

.right h2{
    clear: both;
}

.form{
    text-align: center;
}

.animals{
    font-family: Louis-George;
    display: flex;
}

.fishes{
    font-family: Louis-George;
    display: flex;
}

.plants{
    font-family: Louis-George;
    display: flex;
}

figure{
    flex: 1 1 auto;
}